<div class="col-12 row justify-content-center" style="background-color: gray; height: 100vh;">
	<div class="col-4 card" style="height: 61vh;">
		<div class="">
			<h3 class="font-weight-bold">Login With FaceLog</h3>
		</div>
		<div class="card-body">
			<div class="row justify-content-center">
				<div style="text-align:center; height: 305px; width: 306px; border: 3px solid #D0D080; border-radius: 200px;">
					<webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
						[allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
						(cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
					<!-- <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
										<div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div> -->
				</div>
			</div>
			<ng-container *ngIf="status_detecting && !status_completed">
				<div class="col-12 text-center">
					<img src="./assets/image/loading.gif" alt="" height="70%" width="70%">
					<p class="text-danger font-weight-bold">Detecting...</p>
				</div>
				<div>
					<div>
						<img [src]="webcamImageB64" alt="" height="300" width="300">
					</div>
					<h5 *ngIf="errors.length > 0">ERROR</h5>
					<ul *ngFor="let error of errors">
						<li><p class="text-danger ">{{error | json}}</p></li>
					</ul>
				</div>
			</ng-container>
			<ng-container *ngIf="status_completed">
				<div class="col-12 text-center">
					<img src="./assets/image/completed3.gif" alt="" height="30%" width="40%">
					<p class="text-success font-weight-bold" delay-data="100ms">Completed</p>
				</div>
			</ng-container>
		</div>
	</div>
</div>